:root { 
    --primary: #80c5bf;
    --accent: #80c5bf;
	
	--white: #fff;
    --dark: #1f1f1f;
    --black: #000;
    
    --softgray: #efefef;
    --softgray-b: #f2f3f3;
    --softgray-c: #f2f2f2;

    /* font weights*/
    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    /* font-sizes */
    --fz-base: 16px;
}


/* /////////////////////////////////////////////////////////
    # Table of Contents
///////////////////////////////////////////////////////////
1. References
2. Resets and Overrides (bootstrap, divi, etc)
3. Misc / Gral (Global)
4. Utilities
5. Section Layouts
6. Module Sections (navbar, footer, etc)
7. View-Specific Styles
 -- Home
 -- Services
 -- About Us
 -- Contact
*/


/* /////////////////////////////////////////////////////////
    # 1 - References
///////////////////////////////////////////////////////////*/

/* //////  Font sizes   ////// */
/*
16px - p, h6
18px - h5
20px - h4
22px - h3
49px - h2
57px - h1
*/

/* //////  Breakpoints   ////// */

/* max-width: 1240 */
/* max-width: 992 */
/* max-width: 767p */
/* max-width: 575px */
/* max-width: 480px */



/* /////////////////////////////////////////////////////////
    # 2 - Resets and overrides
///////////////////////////////////////////////////////////*/

/* CSS reset */
html, body {font-size: 16px;padding:0;margin:0;}
* {box-sizing: border-box;margin: 0;padding: 0;max-width: 100%;}
ul {padding: 0!important; margin: 0!important;}
li {list-style:none;} 
a, a:visited, a:hover {font-weight: bold;text-decoration: none;color:inherit;}
strong {font-weight: bold;}

/* Divi overrides */
.et_pb_section { padding: unset!important}
.et_pb_row { width: unset!important;margin: unset!important;max-width: unset!important;padding: unset!important;}
body:not(.et-tb) #main-content .container { padding-top: unset;}
.splide .splide__slide br {display: none;}
h1,h2,h3,h4,h5,h6 {padding-bottom: unset;}
footer.et-l, 
footer.et-l--footer {padding-top: 0;padding-bottom: 0;}

textarea {resize: none;}

#left-area ul, 
.comment-content ul, 
.entry-content ul, 
.et-l--body ul, 
.et-l--footer ul, 
.et-l--header ul, 
body.et-pb-preview #main-content .container ul {
    line-height: unset;
}

input.text, 
input.title, 
input[type=email], 
input[type=password], 
input[type=tel], 
input[type=text], 
select, 
textarea {padding: unset;}







/* Bootstrap extends and overrides */
body {line-height: 1.4!important;}
p {margin-bottom: unset;padding-bottom: unset;}
.col {max-width: 100%;}
.btn {font-size: unset;}
.row {width:100%;max-width: 100%;margin: 0;padding:0;}
/* .row>* {
    padding-left: unset;
    padding-right: unset;
    flex-shrink: unset;
    width: unset;
    max-width: unset;
    margin-top: unset;
} */
.container {max-width: 1200px; /*width: 80%*/; margin: auto; padding-left:1rem;padding-right:1rem;text-align: unset;}
.container-wide {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid {padding: 0;}
@media (max-width: 1199px) {
    .container-wide {
        width: 100%!important;
    }
}
@media (min-width: 1200px) {
    .container-wide {
        width: 100%!important;
        max-width: 1800px!important;
    }
}

/* Splide Overrides */
.splide .splide__track {
    margin-left: auto;
    margin-right: auto;
	width: 100%;    
}

.splide__pagination {
    bottom: 1.5em!important;
}

/* @media (max-width: 767px) {
    .splide__pagination {display: none;}
} */

.splide__pagination__page {
    opacity: 1 !important;
    margin: 0 0.4rem !important;
    background: none;
    border: 1px solid var(--white);
    transform: scale(1.1);
}
.splide__pagination__page.is-active {
    background: var(--white) !important;
    transform: scale(1) !important;
}

/* /////////////////////////////////////////////////////////
    # 3 - Misc / Gral
///////////////////////////////////////////////////////////*/

/* Responsive Font size */
@media (max-width: 337px) {html {font-size: 12px;}}
@media (min-width: 338px) and (max-width: 380px) {html {font-size: 14px;}}
@media (min-width: 381px) {html {font-size: 16px;}}

/* Custom Styles */
p, span, button, li, a, input, textarea {font-size: 1rem;}
h1, h2, h3, h4, h5, h6, .section-title {font-family: 'Nunito Sans', sans-serif;}
section {scroll-margin-top: 68px}
section.temp-boilerplate-section {padding: 8rem 1rem;}
/* .section-title {text-transform: uppercase;font-weight: 300;} */
@media (max-width: 767px) {    
    .section-title {text-align: center;}
}
p {text-wrap: pretty;font-size: var(--fz-base);font-weight: var(--fw-regular);font-family: 'Open Sans', sans-serif;}
a {transition: all 300ms ease;}


h1 {font-size: 57px;}
h2 {font-size: 49px; font-family: 'Nunito Sans', sans-serif;font-weight: var(--fw-black);}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}
li {text-wrap: pretty;font-size: var(--fz-base);font-weight: var(--fw-regular);font-family: 'Open Sans', sans-serif;}

.btn {padding: 0.3rem 1.7rem; border-radius: 14px;border-width: 2px;width: fit-content;font-family: 'Open Sans', sans-serif;font-weight: var(--fw-bold);}

.btn:hover,
.btn:focus,
.btn:active {font-weight: var(--fw-bold);border-width: 2px;}

.btn-light {color: black!important}
.btn-accent {background: var(--accent); color: var(--white)!important}
.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active {background: var(--white); color: var(--accent)!important; border: 2px solid var(--accent);}

.btn-accent-outlined {background: unset; color: var(--accent)!important; border: 2px solid var(--accent);}
.btn-accent-outlined:hover,
.btn-accent-outlined:focus,
.btn-accent-outlined:active {background: var(--primary); color: var(--white)!important; border: 2px solid var(--accent);}

.btn-light-outlined {background: unset; color: var(--white)!important; border: 2px solid var(--white);}
.btn-light-outlined:hover,
.btn-light-outlined:focus,
.btn-light-outlined:active {background: var(--white); color: var(--accent)!important; border: 2px solid var(--white);}


i.rotate-diagonal {transform: rotate(-45deg);}

form label {display: block !important;margin-top: 1rem !important;font-family: 'Open Sans';font-size: 16px;}
form input,
form textarea {width: 100%!important;margin-top: 0.5rem!important;border: 0!important; border-bottom: 2px solid var(--accent)!important;}
form textarea {min-height: 3rem!important;}
form .btn-wrapper {margin-top: 1rem;}
@media (max-width: 767px) {
    form .btn-wrapper {margin-top: 2rem;display: flex;justify-content: center;}
}
/* note: !important used to override Divi default styles */




/* /////////////////////////////////////////////////////////
    # 4 - Utilities
///////////////////////////////////////////////////////////*/
.flex {display: flex}
.d-flex {display: flex} /* fallback alias */
.align-items-center {align-items: center;}
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.justify-content-between {justify-content: space-between;}
.align-items-center { align-items: center; }

.text-uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}

.displayNone {display: none !important;}
.visibilityHidden {visibility: hidden !important;}

.hide-on-desktop {display: none;}
.hide-on-mobile {display: unset;}
@media (max-width: 819px) {
    .hide-on-desktop {display: unset;}
    .hide-on-mobile {display: none;}
}


/* /////////////////////////////////////////////////////////
    # 5 - Section Layouts
///////////////////////////////////////////////////////////*/

/* Half-divided container: left wrapper and right image */
section.right-img .first-column {display: flex; justify-content: flex-end;}
section.right-img .first-column .content-wrapper {width:100%;max-width: 600px; display: flex;flex-direction: column;justify-content: center;padding: 3rem 1rem;}
section.right-img .second-column {padding:0;}
section.right-img .second-column img {height: 100%;object-fit: cover;}
@media (max-width: 767px) {
    section.right-img .first-column .content-wrapper {max-width: unset;}
    section.right-img .second-column img {height: unset;width: 100%;object-fit: cover;}
}

/* Half-divided container: left image and right wrapper*/
section.left-img .first-column {padding:0;}
section.left-img .first-column img {height: 100%;object-fit: cover;}
section.left-img .second-column .content-wrapper {max-width: 600px; display: flex;flex-direction: column;justify-content: center;padding: 3rem 2.5rem;}
section.left-img .second-column {display: flex; justify-content: flex-start;}
@media (max-width: 767px) {
    section.left-img .columns-wrapper {flex-direction: column-reverse;}
    section.left-img .first-column img {height: unset;width: 100%;object-fit: cover;}
    section.left-img .second-column .content-wrapper {max-width: unset;padding: 4rem 1rem;}
}

/* accent strip section */
.accent-strip-section {background: var(--accent);color: var(--white);text-align: center;padding: 3rem 1rem;}
.accent-strip-section .heading {display: flex;flex-direction: row;justify-content: center;align-items: center;margin-bottom: 1rem;}
.accent-strip-section .heading .icon {max-width: 3rem;}
.accent-strip-section .heading .title {font-weight: var(--fw-extrabold);margin: 0 0 0 0.5rem;}
.accent-strip-section .content-wrapper {display: flex;flex-direction: column;}
.accent-strip-section .content-wrapper p {max-width: 65ch;margin: 0 auto;font-weight: var(--fw-semibold);}

@media (max-width: 767px) {
    .accent-strip-section .heading {flex-direction: column;}
    .accent-strip-section .heading .icon {margin-bottom: 1.5rem;}
}

/* final section with large image*/
section.final-img-section p {font-size: 40px;text-transform: uppercase;font-weight: var(--fw-medium);text-align: center;transform: translateY(-50px);}
section.final-img-section span.accent {color: var(--accent);font-size: inherit;}





/* /////////////////////////////////////////////////////////
    # 6 - Module Sections (sections used across several views)
///////////////////////////////////////////////////////////*/

/* //////  Navbar   ////// */

.navbar {
    background: var(--white)!important;
    transition: all 300ms ease;
    background-color: unset;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    border-top: var(--primary);
    border-top-style: solid;
    border-top-width: 30px;
}
.navbar .nav-wrapper {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .brand {
    width: 150px;
}

.navbar .links {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-weight: 300;
    transition: all 300ms ease;
    font-weight: var(--fw-regular);
}
.navbar .links a {font-weight: 400;font-size: 19px;font-family: 'Nunito Sans', sans-serif;}
.navbar .links a:hover,
.navbar .links a:focus,
.navbar .links a:active {color: var(--primary)}
.navbar .links a.active {color: var(--primary);}


.navbar .links .btn {margin-bottom: 0;padding: 0.05rem 0.6rem;border-radius: 10px;}

.navbar .menu-toggle {
    display: none;
}

@media (max-width: 1240px) {
    .navbar {padding: 1rem;}

    /* .navbar .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
    } */

    .navbar .links {
        position: absolute;
        top: 85px;
        background: white;
        width: 20rem;
        max-width: 95%;
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        padding: 1.5rem;
        overflow: hidden;
        opacity: 0;
        transform: scale(0.9);
        transition: height 300ms ease, opacity 300ms ease, transform 300ms ease, right 500ms ease;
        padding: 1rem!important ;
        

    }

    .navbar .links li {width: 100%;transition: all 300ms ease;}
    .navbar .links li:hover,
    .navbar .links li:focus,
    .navbar .links li:active {background:var(--softgray);}
    .navbar .links li:hover:last-child,
    .navbar .links li:focus:last-child,
    .navbar .links li:active:last-child {background:unset;}
    
    .navbar .links a {display: block; width: 100%;padding: 0.5rem;}


    .navbar .links .btn {margin-top: 0.5rem;padding: 0.25rem 1rem;width: fit-content;}

    .navbar .links.active {
        height: unset;
        opacity: 1;
        transform: scale(1);
        right: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.15);
        box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.15);
        padding: 1rem;
    }

    .navbar .links.closing {
        opacity: 0;
        transform: scale(0.9);
        transition: height 500ms ease, opacity 300ms ease, transform 300ms ease, right 500ms ease;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        color: var(--accent);
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}



.navbar.sticky {
    padding: 0.75rem 1rem;
    border-top-width: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar.sticky .brand {
    transition: all 300ms ease;
    opacity: 100%;
}
.navbar.sticky .brand {
    width: 140px;
}



/* //////  Footer   ////// */
footer {padding: 4rem 0 2rem 0;background: var(--black);color: var(--white);}
footer .container {display: flex;flex-direction: row;justify-content: space-between;width: 100%;}
footer .column {width: 33%;}
footer .column * {line-height: 1.75rem;} 
footer .first-column { justify-content: flex-start;/*padding-right: 1rem*/;padding: 0;}
footer .first-column a {width: 70%;}
footer .first-column img.logo {width: 10rem;}
footer .second-column { justify-content: center;padding: 0 1rem;}
footer .third-column { justify-content: flex-start;padding-left: 1rem;}
footer h6 {text-transform: uppercase;font-weight: var(--fw-bold);font-family: 'Open Sans', sans-serif;}
footer li { line-height: 1.5; }
footer a { color: var(--white); font-family: 'Open Sans', sans-serif; font-weight: var(--fw-regular);}
footer a:hover { color: var(--accent); transition: 300ms;font-weight: var(--fw-regular);}
footer h3 { color: var(--white); font-family: 'Open Sans', sans-serif; font-weight: 500; font-size: 15px; text-transform: uppercase; padding-bottom: 10px;}
footer .second-row .divider-horizontal-line { display: block;width: 100%;background: var(--softgray);opacity: 0.6;height: 2px;margin-top: 70px;}
footer .second-row p { color: var(--white); text-align: center; position: relative; top: 15px; font-family: 'OpenSans', sans-serif; font-weight: 300; font-size: 15px; line-height: 1.5;}
footer .second-row a:hover { color: var(--accent); transition: 0.6s; }
footer .second-row .container {flex-direction: column;}
footer .line { width: 100%;}

footer .first-column p {margin-top: 1rem;line-height: 2rem;}


@media(min-width: 1241px){
    footer .second-column { justify-content: center;padding: 0 3rem;}
    footer .third-column { padding-left: 3rem;}
}

@media(max-width: 1240px){
    footer { padding: 80px 0 50px 0; }
    footer .container { flex-wrap: wrap; }       
    footer .first-column { width: 100%;margin-bottom: 4rem;text-align: center;}
    footer .first-column p { max-width: 50ch;margin-left: auto;margin-right: auto;}
    footer .first-column img { display: flex; align-items: center; margin-left: auto; margin-right: auto;}
    footer .second-column { width: 50%; flex-direction: row; justify-content: flex-start;margin-bottom: 1rem;}
    footer .second-column p {max-width: 33ch;}
    footer .third-column { width: 50%; }
}

@media (min-width: 768px) and (max-width: 1239px) {
    footer .columns-wrapper {display: flex;flex-direction: row;justify-content: space-around;column-gap: 1rem;}
    footer .second-column {max-width: 16rem;}
    footer .third-column {max-width: 16rem;}
}

@media(max-width: 767px){ 
    footer .columns-wrapper {display: flex;flex-direction: row;justify-content: space-around;column-gap: 1rem;}
    footer .columns-wrapper .column {text-align: center;}
    footer .columns-wrapper .column hr {width: 20rem;max-width: 80%;margin-left: auto;margin-right: auto;}
    footer .second-column {width: 100%}
    footer .third-column {width: 100%;margin-top: 2rem;}
}



/* //////  Post Footer (legal)   ////// */
section#post-footer {
    text-align: center;
    background: var(--primary);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--black);
}
section#post-footer p {text-align: center;counter-reset: var(--black);}
section#post-footer a {color: inherit;} /* Divi Override */
section#post-footer .brand {font-weight: inherit;font-size: inherit;}
section#post-footer .brand:hover,
section#post-footer .brand:active,
section#post-footer .brand:focus {font-weight: var(--fw-semibold);}

section#post-footer .container .row {justify-content: center;} /* Divi override */


/* //////  Small banner   ////// */
.banner-sm {
    height: 15rem;
    margin-top: 8rem;
    background-color: var(--accent); /* fallback */
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-sm h2.page-title {color: white;}

@media (max-width: 1240px) {
    .banner-sm {margin-top: 6rem;}
}



/* /////////////////////////////////////////////////////////
    # 7a - View: Home
///////////////////////////////////////////////////////////*/



main#home-main section.banner {
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-color: var(--darkblue);
    height: 100vh;
    min-height: 35rem;
    color: var(--white);
    display: flex;
    align-items: center;
}

main#home-main section.banner .container .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

main#home-main section.banner .container .banner-content img.logo {max-width: 20rem;}
main#home-main section.banner .container .banner-content h3.subtitle {margin-top: 1rem;margin-bottom: 0;}

/* main#home-main section.banner#banner-1 {background-image: url('img/home-banner.png') ;} */
/* main#home-main section.banner#banner-2 {background-image: url('img/home-banner.png') ;} */
/* main#home-main section.banner#banner-3 {background-image: url('img/home-banner.png') ;} */

section.banner#banner-1 {background-image: url('/wp-content/uploads/2024/08/home-banner.png') ;}
section.banner#banner-2 {background-image: url('/wp-content/uploads/2024/08/home-banner.png') ;}
section.banner#banner-3 {background-image: url('/wp-content/uploads/2024/08/home-banner.png') ;}


@media (max-width: 767px) {
    main#home-main section.banner {height: 600px;}
    main#home-main section.banner.splide .container {padding: 2rem;}
}         


main#home-main section#services {background: var(--white);padding: 5rem 0;}
main#home-main section#services .section-title {color: var(--primary);text-align: center;}
main#home-main section#services .subtitle {font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: var(--fw-regular);text-align: center;max-width: 48ch;margin: 0 auto 1rem auto;}
main#home-main section#services .row.services-wrapper {margin-top: 2rem;}
main#home-main section#services .service {display: flex;flex-direction: row;}
main#home-main section#services .service .img-wrapper img {width: 75px;}
main#home-main section#services .service .description {padding-left: 1rem;}
main#home-main section#services .service .description h4 {font-family: 'Nunito Sans', sans-serif;font-weight: var(--fw-extrabold);}
main#home-main section#services .service .description p {max-width: 43ch;}
main#home-main section#services .btn.cta {margin-left: auto;margin-right: auto;margin-top: 3rem;}
@media (max-width: 767px) {
    main#home-main section#services .service .img-wrapper img {margin-bottom: 1rem;}
    main#home-main section#services .service {margin: 1rem 0;padding: 1rem 2rem;flex-direction: column;text-align: center;}
    main#home-main section#services .service .description {padding-left: unset;}
    main#home-main section#services .service .description p {margin-left: auto;margin-right: auto;}
}


main#home-main section#bridge-of-trust {background: var(--primary);color: var(--black);padding-top: 3.5rem;padding-bottom: 3.5rem;overflow: clip;}
main#home-main section#bridge-of-trust h1 {text-transform: uppercase;margin-left: auto;margin-right: auto;margin-bottom: 0;width: fit-content;font-family: 'Nunito Sans', sans-serif;transform: translateX(51px);text-wrap: nowrap;letter-spacing: -3px;word-spacing: 2px;}
main#home-main section#bridge-of-trust h1 span {display: inline-block;font-size: inherit;}
main#home-main section#bridge-of-trust h1 span.line {display: inline-block;font-size: inherit; width: 11.5rem;border: 1px solid var(--white);}
main#home-main section#bridge-of-trust h1 span.second-portion {transform: translateX(-102px);}

@media(max-width: 992px){
    main#home-main section#bridge-of-trust h1 {font-size: 40px;}
    main#home-main section#bridge-of-trust h1 span.line {width: 10rem;}
}
@media (max-width: 767px) {
    main#home-main section#bridge-of-trust h1 {font-size: 30px;}
    main#home-main section#bridge-of-trust h1 span.line {width: 10rem;}
}
@media (max-width: 575px) {
    main#home-main section#bridge-of-trust h1 {font-size: 30px;}
    main#home-main section#bridge-of-trust h1 span.line {width: 10rem;}
}
@media (max-width: 480px) {
    main#home-main section#bridge-of-trust h1 {font-size: 20px;}
    main#home-main section#bridge-of-trust h1 span.line {width: 8rem;}
}



main#home-main section#about-us {background: var(--white);padding: 4.5rem 0;}
main#home-main section#about-us .first-column {padding: 0;}
main#home-main section#about-us .second-column {padding: 2.5rem 1rem 2.5rem 2.5rem;}
main#home-main section#about-us .second-column h2.section-title {color: var(--primary);font-weight: var(--fw-regular);margin-bottom: 1.5rem;}
main#home-main section#about-us .second-column h3 {color: var(--primary);text-transform: uppercase;font-weight: var(--fw-black);}
main#home-main section#about-us .second-column h3:nth-of-type(2){margin-top: 1.5rem;}
main#home-main section#about-us .second-column .btn.cta {margin-top: 1.3rem;}
@media (max-width: 767px) {
    main#home-main section#about-us .first-column {text-align: center;padding: 2.5rem 1rem;}
    main#home-main section#about-us .second-column {text-align: center;padding: 2.5rem 1rem;}
}

/* section#last-section {} */
main#home-main section#last-section .first-column {background: var(--primary);color: var(--white)}
main#home-main section#last-section .first-column .content-wrapper {width: 100%;}
main#home-main section#last-section .first-column h5 {text-transform: uppercase;font-weight: var(--fw-semibold);}
main#home-main section#last-section .first-column p {max-width: 50ch;}
main#home-main section#last-section .first-column .btn.cta {margin-top: 1.5rem;}
main#home-main section#last-section .second-column {overflow: clip;}
main#home-main section#last-section .second-column img {transition: transform 1.5s ease;}
@media (max-width: 767px) {
    main#home-main section#last-section .first-column {padding: 3rem 1rem;}
    main#home-main section#last-section .first-column .content-wrapper {text-align: center;}
    main#home-main section#last-section .first-column p {margin-left: auto;margin-right: auto;}
    main#home-main section#last-section .second-column {max-height: 30rem;}
}

main#home-main section#last-section .second-column img:hover {
    transform: scale(1.05);
}

main#home-main section#clients {background: var(--white);padding-top: 3rem;padding-bottom: 3rem;}
main#home-main section#clients .row.titles-wrapper {display: flex;flex-direction: column; justify-content: center;}
main#home-main section#clients .pre-title {text-transform: uppercase;text-align: center;font-weight: var(--fw-semibold);font-family: 'Open Sans', sans-serif;}
main#home-main section#clients .title {color: var(--accent);text-align: center;}
main#home-main section#clients .row.logos-wrapper {display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;}
main#home-main section#clients .row.logos-wrapper .new-line {display: none;}
main#home-main section#clients .row.logos-wrapper .img-wrapper {max-width: 100%; width: 9rem;height: auto;display: flex; align-items: center;padding: 1rem 0;}
main#home-main section#clients .row.logos-wrapper img.client-logo {width: 100%;height: auto;}

main#home-main section#clients .logos-slider {width: 100%;margin: 5rem auto;display: none;}
main#home-main section#clients .logos-slider * {box-sizing: border-box;margin: unset;padding: unset;max-width: unset;}
main#home-main section#clients .logos-slider .img-wrapper {width: fit-content;}
main#home-main section#clients .logos-slider .slick-track {display: flex;/*gap:5rem*/;justify-content: space-between;margin-top:2rem;margin-bottom:2rem;}
main#home-main section#clients .logos-slider .slick-slide {display: flex;margin-top: auto;margin-bottom: auto;}
main#home-main section#clients .logos-slider .client-logo {width: 100%;}


@media (max-width: 1290px) {
    main#home-main section#clients .row.logos-wrapper {
        max-width: 44rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }
    main#home-main section#clients .row.logos-wrapper .new-line {display: block;}
}
@media (max-width: 819px) {
    main#home-main section#clients .row.logos-wrapper {display: none;}
    main#home-main section#clients .logos-slider {display: unset;}
    main#home-main section#clients .logos-slider .slick-slide {padding: 0 2rem;}
}

@media (max-width: 575px) {
    main#home-main section#clients .row.logos-wrapper .img-wrapper {max-width: 80%; width: 6rem;} 
}
@media (max-width: 479px) {
    main#home-main section#clients .logos-slider .slick-track {margin-top: 0;margin-bottom: 0;}
    main#home-main section#clients .logos-slider .slick-slide {padding: 0 4rem;}
    main#home-main section#clients .logos-slider .client-logo {margin: 0 auto;width: 80%;}
}



/* /////////////////////////////////////////////////////////
    # 7b - View: Services
///////////////////////////////////////////////////////////*/

/* main#services-main .banner-sm {background: url('img/services-banner.png');background-size: cover;} */
main#services-main .banner-sm {background: url('/wp-content/uploads/2024/08/services-banner.png');background-size: cover;}

main#services-main .list-section .heading {display: flex;flex-direction: row;justify-content: flex-start;align-items: center;margin-bottom: 1.2rem;}
main#services-main .list-section .heading .icon {max-width: 3rem;}
main#services-main .list-section .heading .title {font-weight: var(--fw-extrabold);margin-bottom: 0;margin-left: 1rem;}
main#services-main .list-section ul li {margin-bottom: 1.2rem;}
main#services-main .list-section ul li:last-of-type {margin-bottom: 0;}
main#services-main .list-section ul img.bullet {width: 1rem;padding-bottom: 0.2rem;}


main#services-main section#quality-assurance {
    background-size: cover;
    background-position-x: center;
}

main#services-main section#regulatory-compliance {background-color: var(--softgray-b);}

/* main#services-main section#supply-chain-optimization {} */


main#services-main section#we-value-team-work {display: flex;flex-direction: column;justify-content: center;padding-top: 5.5rem;padding-bottom: 2rem;}


@media (max-width: 767px) {

    main#services-main .list-section .heading {flex-direction: column;}

    main#services-main .list-section .heading .icon {margin-bottom: 1.5rem;}

    main#services-main section .content-wrapper {padding-left: 2rem;padding-right: 2rem;text-align: center;}

    main#services-main section#api-sourcing .second-column {height: 20rem;overflow: clip;}
    
    main#services-main section#quality-assurance .first-column {height: 20rem;overflow: clip;}

    main#services-main section#regulatory-compliance .second-column {height: 20rem;overflow: clip;}

    main#services-main section#supply-chain-optimization .first-column {height: 20rem;overflow: clip;}

    main#services-main section#we-value-team-work {padding-top: 4rem}

    main#services-main section#we-value-team-work p {font-size: 16px;max-width: 100%;}

}

@media (max-width: 480px) {

    main#services-main section#we-value-team-work {padding-top: 3rem;}

}



/* /////////////////////////////////////////////////////////
    # 7c - View: About Us
///////////////////////////////////////////////////////////*/

/* main#about-us-main .banner-sm {background: url('img/about-us-banner.png');background-size: cover;} */
main#about-us-main .banner-sm {background: url('/wp-content/uploads/2024/08/about-us-banner.png');background-size: cover;}

main#about-us-main section .section-title {color: var(--accent);font-weight: var(--fw-extrabold);}

main#about-us-main section#our-values {padding-top: 4rem;padding-bottom: 4rem;}
main#about-us-main section#our-values .items-wrapper {display: grid;grid-template-columns: repeat(5, 1fr);gap: 1rem;}
main#about-us-main section#our-values .item {padding: 1rem;text-align: center}
main#about-us-main section#our-values .item .img-wrapper {max-width: 4rem;margin: 0 auto}
main#about-us-main section#our-values .item .title {font-size: 20px; font-family: 'Nunito Sans', sans-serif;margin-top: 1rem;font-weight: var(--fw-extrabold);}

main#about-us-main section#mission h4,
main#about-us-main section#mission p {margin-bottom: 1.5rem;}
main#about-us-main section#mission .second-column {overflow: clip;} 
main#about-us-main section#mission .second-column img {width:100%!important;object-fit: cover;} 

main#about-us-main section#vision h4,
main#about-us-main section#vision p {margin-bottom: 1.5rem;}
main#about-us-main section#vision .first-column {overflow: clip;} 
main#about-us-main section#vision .first-column img {width:100%!important;object-fit: cover;}

main#about-us-main section#who-we-are {background: var(--softgray-c);padding-top: 4rem;padding-bottom: 1rem;}
main#about-us-main section#who-we-are h2.section-title {text-align: center;margin-left: auto;margin-right: auto;}
main#about-us-main section#who-we-are .subtitle {text-align: center; max-width: 60ch;margin-left: auto;margin-right: auto;margin-bottom:1rem;font-size: 20px;font-family: 'Open Sans', sans-serif;}
main#about-us-main section#who-we-are .columns-wrapper {display: flex;flex-direction: row;column-gap: 6rem;margin-top: 2rem;}
main#about-us-main section#who-we-are .columns-wrapper .column {max-width: calc(50% - 3rem)}
main#about-us-main section#who-we-are .columns-wrapper .column p {margin-bottom: 1.5rem;}
main#about-us-main section#who-we-are .columns-wrapper .column p:last-child {margin-bottom: 0;}

main#about-us-main section#pharma-synergy-for-growth {background: var(--softgray-c);padding-bottom: 2rem;}

@media (max-width: 1199px) {
    main#about-us-main section#who-we-are .columns-wrapper {column-gap: 4rem;}
    main#about-us-main section#who-we-are .columns-wrapper .column {max-width: calc(50% - 2rem)}
}
@media (max-width: 992px) {
    main#about-us-main section#our-values .items-wrapper {display: flex;justify-content: space-around;}
    main#about-us-main section#our-values .items-wrapper .item {max-width: 15rem;}

    main#about-us-main section#who-we-are .columns-wrapper {column-gap: 2rem;}
    main#about-us-main section#who-we-are .columns-wrapper .column {max-width: calc(50% - 1rem)}
}
@media (max-width: 767px) { 
    main#about-us-main section#mission,
    main#about-us-main section#vision,
    main#about-us-main section#who-we-are {text-align: center;}

    main#about-us-main section#our-values .items-wrapper {display: flex;flex-direction: column;}
    main#about-us-main section#our-values .items-wrapper .item {max-width: 100%;}

    main#about-us-main section#who-we-are .columns-wrapper .column {max-width: 100%;}
}



/* /////////////////////////////////////////////////////////
    # 7c - View: Contact
///////////////////////////////////////////////////////////*/

/* main#contact-main .banner-sm {background: url('img/contact-us-banner.png');background-size: cover;} */
main#contact-main .banner-sm {background: url('/wp-content/uploads/2024/09/contact-us-banner.png');background-size: cover;}

main#contact-main section#fist-section {padding-top: 4rem;padding-bottom: 4rem;}
main#contact-main section#fist-section .items-wrapper {display: grid;grid-template-columns: repeat(3, 1fr);gap: 1rem;}
main#contact-main section#fist-section .item {padding: 1rem;text-align: center}
main#contact-main section#fist-section .item .img-wrapper {max-width: 4rem;margin: 0 auto}
main#contact-main section#fist-section .item .title {font-size: 20px; font-family: 'Nunito Sans', sans-serif;margin-top: 1rem;font-weight: var(--fw-extrabold);}

main#contact-main section#form-title-section {padding-top: 4rem;padding-bottom: 4rem;}
main#contact-main section#form-title-section h2.section-title {text-align: center;margin-left: auto;margin-right: auto;color: var(--accent);font-weight: var(--fw-extrabold);}
main#contact-main section#form-title-section .subtitle {text-align: center; max-width: 60ch;margin-left: auto;margin-right: auto;font-size: 20px;font-family: 'Open Sans', sans-serif;}

main#contact-main section#form-section .content-wrapper {justify-content: flex-start;padding-right: 2rem;}
main#contact-main section#form-section .content-wrapper form textarea {height: 3rem;}
main#contact-main section#form-section iframe {width: 100%;height: 100%;/*aspect-ratio: 1*/;max-height: 530px;}

@media (max-width: 767px ) {
    main#contact-main section#fist-section .items-wrapper {display: flex;flex-direction: column;}
    main#contact-main section#form-section .content-wrapper {padding-left: 2rem;padding-right: 2rem;}
}